<mat-nav-list class="sidebar-content">
  <div style="height: 4rem">
    <span class="sidebar-logo">Magic<span>Market</span></span>
  </div>
  <hr>
  <a [routerLink]="path.MANAGE_PRODUCTS" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">category</mat-icon>
    <span class="sidebar-list-item-header">Products</span>
  </a>
  <hr>
  <a href="" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">article</mat-icon>
    <span class="sidebar-list-item-header">Magic Cards</span>
  </a>
  <hr>
  <a href="" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">inventory_2</mat-icon>
    <span class="sidebar-list-item-header">Magic Packs</span>
  </a>
  <hr>
  <a href="" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">casino</mat-icon>
    <span class="sidebar-list-item-header">Accessories</span>
  </a>
  <hr>
  <a href="" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">info</mat-icon>
    <span class="sidebar-list-item-header">About</span>
  </a>
  <hr>
  <a href="" mat-list-item class="sidebar-list-item">
    <mat-icon class="material-symbols-outlined medium">contact_support</mat-icon>
    <span class="sidebar-list-item-header">Contact</span>
  </a>
</mat-nav-list>
