@use '@angular/material' as mat;
@import "src/styles/theme";

.header-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4rem;

  .header-actions {

    button {
      color: $base;
      margin-left: 3rem;
    }
  }
}
