<div class="header-container">
  <div class="header-actions">
    <button [routerLink]="path.MAINTAIN_PRODUCT" mat-icon-button class="header-button">
      <mat-icon class="material-symbols-outlined size-medium">add</mat-icon>
    </button>
    <button mat-icon-button class="header-button">
      <mat-icon class="material-symbols-outlined size-medium">shopping_basket</mat-icon>
    </button>
    <button mat-icon-button class="header-button" [matMenuTriggerFor]="menu">
      <mat-icon class="material-symbols-outlined size-medium">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button [routerLink]="path.LOGIN" mat-menu-item>
        <mat-icon class="material-symbols-outlined size-medium">login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="material-symbols-outlined size-medium">app_registration</mat-icon>
        <span>Register</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="material-symbols-outlined size-medium">settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon class="material-symbols-outlined size-medium">language</mat-icon>
        <span>Language</span>
      </button>
    </mat-menu>


  </div>
</div>
