@use '@angular/material' as mat;
@import "src/styles/theme";

.content-header-container {
  display: flex;
  padding: 1rem;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  background: $base;
  gap: 1rem;
}
