@use '@angular/material' as mat;
@import "src/styles/theme";

:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .content-section-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
  }
}
