@import "./theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Quicksand, serif;
  font-weight: 400;
  overflow-x: hidden;
  color: $text;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  align-self: center;

  &.small {
    font-size: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  &.medium {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &.large {
    font-size: 1.75rem;
    height: 1.75rem;
    width: 1.75rem;
  }
}

.material-symbols-filled {

}

hr {
  border: none;
  border-bottom: 1px solid $text;
  opacity: 20%;
}
