@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$teal-palette);
$accent: mat.define-palette(mat.$amber-palette);
$info: mat.define-palette(mat.$blue-palette);
$success: mat.define-palette(mat.$light-green-palette);
$error: mat.define-palette(mat.$red-palette);
$neutral: mat.define-palette(mat.$grey-palette);

$base: mat.get-color-from-palette($neutral, 100);
$text: mat.get-color-from-palette($neutral, 600);
$border-shadow: mat.get-color-from-palette($neutral, 300) 0 2px 12px -3px;
$border-radius: 0.375rem;

$theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent, info: $info, success: $success, error: $error, neutral: $neutral),
  density: 0
));
