<div class="prefix-container">
  <ng-content></ng-content>
</div>
<div class="input-container">
  <input #input
         [id]="name"
         [type]="type"
         [(ngModel)]="value"
         [readOnly]="readOnly"
         [required]="required"
         placeholder=" "
         (input)="writeValue(input.value)"
         (change)="writeValue(input.value)"
         (blur)="onTouched()">
  <label *ngIf="!noLabel" [for]="name" class="input-label">{{name}}</label>
</div>
<div class="suffix-container">
  <span *ngIf="required" class="required-asterisk">*</span>
  <mat-icon *ngIf="required && valid" class="material-symbols-outlined size-small">done</mat-icon>
</div>
