@use '@angular/material' as mat;
@import "src/styles/theme";

:host {
  display: flex;
  position: relative;
  height: 3rem;
  border-bottom: 1px solid mat.get-color-from-palette($primary);
  padding: 1rem 0.75rem 0.5rem;
  font-size: 1rem;
  user-select: none;
  gap: 0.5rem;

  .prefix-container {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 1.5rem;

    &:empty {
      display: none;
    }
  }

  .input-container {
    position: relative;
    display: flex;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 100%;

    label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: inherit;
      transition: all 0.3s;
    }

    input {
      display: flex;
      font-family: Quicksand, sans-serif;
      font-size: inherit;
      color: $text;
      z-index: 1;
      background: transparent;
      border: none;
      cursor: pointer;
      width: 100%;

      &:focus-visible {
        outline: none;
      }

      &:focus ~ label, &:not(:placeholder-shown) ~ label {
        top: -0.75rem;
        height: 0.75rem;
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: mat.get-color-from-palette($primary);
      }
    }
  }

  .suffix-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    color: mat.get-color-from-palette($primary);

    .required-asterisk {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      height: inherit;
      font-size: 1.125rem;
    }
  }

  &:focus-within {
    border-bottom: 1px solid mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary);
  }

  &[noLabel] {
    height: 2.5rem;
    padding: 0.5rem 0.75rem 0.5rem;
  }
}
