<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-content-block title="Login">
    <app-content-section [formGroup]="loginForm" width="40">
      <app-input type="text" name="E-mail address" required>
        <mat-icon class="size-small">person</mat-icon>
      </app-input>
      <app-input type="password" name="Password">
        <mat-icon class="size-small">lock</mat-icon>
      </app-input>
      <div style="font-size: 0.875rem">Don't have an account? Register <a>here!</a></div>
      <app-button color="primary"
                  shape="rectangle"
                  appearance="filled"
                  style="margin-top: 1rem">
        Login
      </app-button>
    </app-content-section>
  </app-content-block>
</form>
