<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-content-block>
    <app-content-section [formGroup]="loginForm" style="width: 30rem">
      <app-input type="text" label="E-mail address" required>
        <mat-icon class="material-symbols-outlined small">person</mat-icon>
      </app-input>
      <app-input type="password" label="Password">
        <mat-icon class="material-symbols-outlined small">lock</mat-icon>
      </app-input>
      <app-button color="primary"
                  shape="rectangle"
                  appearance="filled"
                  style="width: 100%; margin-top: 1rem">
        Login
      </app-button>
    </app-content-section>
  </app-content-block>
</form>
