@use '@angular/material' as mat;
@import "src/styles/theme";

:host {
  display: flex;
  align-self: center;
  position: fixed;
  bottom: 4rem;
  height: 3.5rem;

  .message-container {
    display: flex;
    align-items: center;
    padding-right: 2rem;
    gap: 1rem;
  }

  &.color-success app-light-box {
    border-bottom: 2px solid mat.get-color-from-palette($success);

    mat-icon {
      color: mat.get-color-from-palette($success);
    }
  }

  &.color-info app-light-box {
    border-bottom: 2px solid mat.get-color-from-palette($info);

    mat-icon {
      color: mat.get-color-from-palette($info);
    }
  }

  &.color-error app-light-box {
    border-bottom: 2px solid mat.get-color-from-palette($error);

    mat-icon {
      color: mat.get-color-from-palette($error);
    }
  }
}
