@use '@angular/material' as mat;
@import "src/styles/theme";

.main-container {
  height: 100vh;
  max-width: 100rem;
  margin: auto;

  mat-drawer-container {
    height: 100%;
    border-radius: $border-radius $border-radius 0 0;

    mat-drawer {
      background: $base;
      width: 16rem;
      overflow: visible;
      visibility: visible !important;
      box-shadow: $border-shadow;
    }

    mat-drawer-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: darken($base, 5%);
      color: $text;
    }
  }
}

::ng-deep .mat-drawer-side {
  border-right: none !important;
}
