@use '@angular/material' as mat;
@import "src/styles/theme";

:host {
  display: flex;
  justify-content: center;
}

.content-group-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-group-title {
  letter-spacing: 0.02rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
